In [4]:
#Open a text file in'Write' mode to write given lines
f=open("textfile.txt",'w')
f.write("first line\n")
f.write("second line\n")
f.write("third line\n")
f.close()
k=open("textfile.txt",'r')
print(k.readline())
print(k.readline())
print(k.readline())
k.close()

first line

second line

third line

In [5]:
m=open("textfile.txt",'a')
m.write("fourth line\n")
m.write("fifth line\n")
m.close()
p=open("textfile.txt",'r')
print(p.read())
p.close()

first line
second line
third line
fourth line
fifth line

In [7]:
with open("textfile.txt",'r') as file:
  lines=file.readlines()
  print(lines)

['first line\n', 'second line\n', 'third line\n', 'fourth line\n', 'fifth line\n']

In [8]:
import json
#JSON string
x='{"name":"John","age":30,"city":"New York"}'
#Convert JSON string to python dictionary
y=json.loads(x)
print(y["age"])

30

In [9]:
#Python dictionary
data={
    "name":"John",
  "age":30,
  "city":"New York"
}
#Convert Python dictionary to JSON string
json_data=json.dumps(data)
print(json_data)

{"name": "John", "age": 30, "city": "New York"}